{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Welcome to the Capital Pro Bono Honor Roll Site</h1>
<a href="/create"><button type="button" class="btn btn-primary">Add a single lawyer</button></a>
{% if user.is_authenticated %}<a href="/upload"><button type="button" class="btn btn-primary">Upload a CSV</button></a>{% endif %}
<a href="/organization/list"><button type="button" class="btn btn-primary">See list of Organizations</button></a>
<a href="/search"><button type="button" class="btn btn-primary">Look up a lawyer</button></a>
</div>
{% endblock content %}